:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width:220px;
}

mat-drawer-container{
    height: 100%;

}
mat-drawer-content {
    // background-color: white;
    height: 100%;
    // padding:15px 50px 15px 50px;
    margin-bottom: 30% !important;
}
.main-content{
    // border:1px solid black;
    padding:10px 40px 10px 40px;
    background-color:#ffffff;
    height:100%;
}

.mat-drawer-content::-webkit-scrollbar {
    width: 0.2em;
  }

  .mat-drawer-content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .mat-drawer-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }